<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>用户注册</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="baidu-site-verification" content="d5qOMB2cgK">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="shortcut icon" href="../../imgs/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/user.css">
	</head>

	<body>
		<!--头部-->
		<div class="common-container">
			<div class="head-top-container">
				<div class="top-box">
					<div class="logo-box">
						<a href="../index.html">
							<img src="../../imgs/common/Robot-logo.png" />
						</a>
					</div>
					<form class="search-box" method="post">
						<div class="select-box">
							<span class="down-arrow"></span>
							<span class="select-type" id="selectSearchType">直播·视频</span>
							<div class="type-box" id="typeBoxPanel" show-state="0">
								<span class="select-type" search-type="01">直播·视频</span>
								<span class="select-type" search-type="02">新闻中心</span>
								<span class="select-type" search-type="03">赛事专区</span>
								<span class="select-type" search-type="04">行业·科教</span>
							</div>
						</div>
						<div class="input-box">
							<input type="text" name="searchWord" placeholder="请输入搜索的内容" />
						</div>
						<input type="hidden" name="searchType" value="01" id="searchType" />
						<input type="submit" class="submit-btn" id="searchBtn" value="搜索" />
					</form>
					<a class="register-btn" href="register.html">注册</a>
					<a class="login-btn" href="login.html">登录</a>
				</div>
			</div>
			<div class="head-nav-container">
				<div class="nav-box">
					<ul id="mainNav">
						<li>
							<a class="nav-text" href="../index.html">首页</a>
						</li>
						<li>
							<a class="nav-text" href="../signUp/entryCompetition.html">参加比赛</a>
						</li>
						<li>
							<a class="nav-text" href="../signUp/otherSignUp.html">媒体报名</a>
						</li>
						<li>
							<a class="nav-text" href="../vote/voteList.html">投票列表</a>
						</li>
						<li>
							<a class="nav-text" href="../commonDataList.html">新闻中心列表页面</a>
						</li>
						<li>
							<a class="nav-text" href="../leaveMsg.html">客户留言</a>
						</li>
						<li>
							<a class="nav-text" href="#">个人中心</a>
							<span class="down-arrow"></span>
							<div class="nav-down-box">
								<span class="up-arrow"></span>
								<a class="down-text" href="../user/accountInfo.html">账户信息</a>
								<a class="down-text" href="../user/message.html">站内消息</a>
								<a class="down-text" href="../user/myVideo.html">拍客</a>
								<a class="down-text" href="../user/changePwd.html">修改密码</a>
							</div>
						</li>
						<li>
							<a class="nav-text" href="../versionUpgrade.html">浏览器升级提示页面</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		
		
		<div class="common-container">
			<div class="user-box">
				<div class="tab-box">
					<ul>
						<li class="active">用户注册</li>
					</ul>
					<div class="right-box">
						<span>已有账号：</span>
						<a href="login.html">立即登录</a>
						<a href="findPwd.html">忘记密码</a>
					</div>
				</div>
				
				<form class="sign-up-form" id="form01" method="post" action="">
					<div class="group-box">
						<div class="title">电话</div>
						<div class="input-box">
							<input type="text" id="mobileInput" class="common-input" name="mobile" placeholder="电话" />
						</div>
						<div class="error-msg"></div>
					</div>
					<div class="group-box">
						<div class="title">验证码</div>
						<div class="input-box">
							<input type="text" id="codeInput" class="y-input" name="code" placeholder="输入验证码" />
							<div class="get-code" id="getCode">获取验证码</div>
						</div>
						<div class="error-msg"></div>
					</div>
					<div class="group-box">
						<div class="title">密码</div>
						<div class="input-box">
							<input type="password" id="newPwd" class="common-input" name="pwd" placeholder="密码" />
						</div>
						<div class="error-msg"></div>
					</div>
					<div class="group-box">
						<input type="button" id="regBtn" class="submit-btn" value="提交" />
					</div>
				</form>
				
				
			</div>
		</div>
		
		
		
		<!--底部-->
		<div class="bottom-container">
			<div class="bottom-box">
				<div class="href-box">
					<a href="#">关于我们</a>
					<a href="#">联系我们</a>
					<a href="#">参赛报名</a>
					<a href="#">客户留言</a>
					<a href="#">关于我们</a>
				</div>
				<div class="share-box">
					<span class="title">关注我们</span>
					<a href="#"><span class="share-itme share-01"></span></a>
					<a href="#"><span class="share-itme share-02"></span></a>
					<a href="#"><span class="share-itme share-03"></span></a>
				</div>
				<div class="web-msg-box">
					<span>Powered by Discuz! © 2001-2013 Comsenz Inc. 粤ICP备12020166号  粤公网</span>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../js/public/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script src="../../js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>